<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/css/mdb.min.css">
    <title>Bloggily</title>
</head>
<body>
    
<h1>Index Page</h1>

<% blogs.forEach(function(blog){ %>
    <div>
        <h2> <%=blog.title%> </h2>
        <img src="<%= blog.image %>" >
        <p><%= blog.created %></p>
        <p><%= blog.body %></p>
    </div>
     
<% }) %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/js/mdb.min.js"></script>
</body>
</html>