/* YOUR CUSTOM STYLES */
body > nav{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);     
}

body > form {
    margin-top: 60px;
}

form.container {
    width: 50%;   
}
button.btn.btn-deep-orange.waves-effect.waves-light{
    background-image: linear-gradient(to right, #00E767 0%, #57FDC8 100%);
    font-weight: 500;
    text-shadow: 0px 1px 4px rgb(0, 0, 0);
}

i{
    height: 30%;
}

