/* YOUR CUSTOM STYLES */
body > nav{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);     
}

body > form {
    margin-top: 60px;
}

form.container {
    width: 50%;   
}
button.btn.btn-deep-orange.waves-effect.waves-light{
    font-weight: 500;
}

img{
    width: 300px;
}

