/* YOUR CUSTOM STYLES */

body>nav {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

body>form {
    margin-top: 60px;
}

main{
    margin-top: 3rem!important;
}

form.container {
    width: 50%;
}

button.btn.btn-deep-orange.waves-effect.waves-light {
    font-weight: 500;
}

div.card {
    width: 16em;
}

h1.container {
    margin-top: 30px;
    margin-right: 130px;
    margin-bottom: 25px;
}